<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Showing the map</title>

    <!-- Mapbox library imports -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 600px;
        }
    </style>

    <script>
        let map = '';
        $(document).ready(function () {
            mapboxgl.accessToken = "pk.eyJ1IjoidXNlci1wb3RhdG9kMTIzIiwiYSI6ImNsaHdyYnVodTAwdTIzZHRneWNpM3QzMnIifQ.FHrR0eYriBbd_87Eh4ay2Q";
            map = new mapboxgl.Map({
                container: "map", // container ID
                center: [149.430902 + 18, 38.844125 + 12 + 0.5], // starting position [lng, lat]
                zoom: 13, // starting zoom
                style: "mapbox://styles/mapbox/streets-v11", // style URL or style object
                hash: true, // sync `center`, `zoom`, `pitch`, and `bearing` with URL
                // Use `transformRequest` to modify requests that begin with `http://myHost`.
                transformRequest: (url, resourceType) => {
                    if (resourceType === "Source" && url.startsWith("http://myHost")) {
                        return {
                            url: url.replace("http", "https"),
                            headers: { "my-custom-header": true },
                            credentials: "include", // Include cookies for cross-origin requests
                        };
                    }
                },
            });

            let nav = new mapboxgl.NavigationControl({
                visualizePitch: true,
            });
            map.addControl(nav, 'top-right');

            draw_initialize();
        });

        function draw_initialize() {
            // word w
            for (let i = 0; i < 12; i++) {
                new mapboxgl.Marker().setLngLat([148.430902, 38.844125 + i + 3]).addTo(map);
            }

            for (let i = 0; i < 5; i++) {
                new mapboxgl.Marker().setLngLat([150.090082 + i * 2.2, 38.707086 + 2]).addTo(map);
            }

            for (let i = 0; i < 12; i++) {
                new mapboxgl.Marker().setLngLat([150.430902 + 10, 38.844125 + i + 3]).addTo(map);
            }

            for (let i = 0; i < 5; i++) {
                new mapboxgl.Marker().setLngLat([162.090082 + i * 2.2, 38.707086 + 2]).addTo(map);
            }

            for (let i = 0; i < 12; i++) {
                new mapboxgl.Marker().setLngLat([149.430902 + 23, 38.844125 + i + 3]).addTo(map);
            }

            // word s
            for (let i = 0; i < 7; i++) {
                new mapboxgl.Marker().setLngLat([184.090082 + i * 2.2, 50.707086 + 2]).addTo(map);
            }

            for (let i = 0; i < 6; i++) {
                new mapboxgl.Marker().setLngLat([183.430902, 42.844125 + i + 3]).addTo(map);
            }

            for (let i = 0; i < 7; i++) {
                new mapboxgl.Marker().setLngLat([184.090082 + i * 2.2, 42.707086 + 2]).addTo(map);
            }

            for (let i = 0; i < 6; i++) {
                new mapboxgl.Marker().setLngLat([197.430902, 33.844125 + i + 3]).addTo(map);
            }

            for (let i = 0; i < 7; i++) {
                new mapboxgl.Marker().setLngLat([184.090082 + i * 2.2, 33.707086 + 2]).addTo(map);
            }

            // word s (2)
            for (let i = 0; i < 7; i++) {
                new mapboxgl.Marker().setLngLat([206.090082 + i * 2.2, 50.707086 + 2]).addTo(map);
            }

            for (let i = 0; i < 6; i++) {
                new mapboxgl.Marker().setLngLat([206.430902, 42.844125 + i + 3]).addTo(map);
            }

            for (let i = 0; i < 7; i++) {
                new mapboxgl.Marker().setLngLat([206.090082 + i * 2.2, 42.707086 + 2]).addTo(map);
            }

            for (let i = 0; i < 6; i++) {
                new mapboxgl.Marker().setLngLat([219.430902, 33.844125 + i + 3]).addTo(map);
            }

            for (let i = 0; i < 7; i++) {
                new mapboxgl.Marker().setLngLat([206.090082 + i * 2.2, 33.707086 + 2]).addTo(map);
            }
        }
    </script>
</head>

<body>
    <div id="map"></div>
</body>

</html>